.wrapper {
  width: calc(100% - 300px);
  height: 100%;
  position: relative;

  > canvas {
    position: absolute;
    user-select: none;
  }

  > .xLine {
    pointer-events: none;
    position: absolute;
    height: 100%;
    border-left: 1px solid black;

    > div {
      white-space: nowrap;
    }
  }

  > .yLine {
    pointer-events: none;
    position: absolute;
    width: 100%;
    border-top: 1px solid black;

    > div {
      position: absolute;
      right: 0;
      bottom: 4px;
    }
  }
  > .labelWrap {
    position: absolute;
    padding: 10px;
    pointer-events: none;

    > .label {
      border: 1px solid lightgray;
      white-space: nowrap;
      border-radius: 8px;
      padding: 12px;
      background: white;
      display: flex;
      flex-direction: column;
      gap: 4px;
      box-shadow: 8px 7px 20px 0 #00000036;
    }
  }

}