.wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  > canvas {
    position: absolute;
    user-select: none;
  }

  > .xLine {
    pointer-events: none;
    position: absolute;
    height: 100%;
    border-left: 1px solid black;

    > div {
      white-space: nowrap;
    }
  }

  > .yLine {
    pointer-events: none;
    position: absolute;
    width: 100%;
    border-top: 1px solid black;

    > div {
      position: absolute;
      right: 0;
      bottom: 4px;
    }
  }
}