.chartWrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  .chartMain {
    flex-grow: 1;
    border-bottom: 1px solid black;
    flex-shrink: 0;
  }

  .chartRSI {
    height: 100px;
    flex-shrink: 0;
  }
}

.controlWrap {
  width: 320px;
  padding-top: 64px;
  > div {
    margin-top: 12px;
    padding-top: 12px;
  }
}